
.main--flex-german::before{
    content: ''url(../img/feathers/feaser.png);
    position: absolute;
    top: -100px;
    left: 0;
    z-index: 0;   
}

.main::after{
    content: ''url(../img/feathers/feasers.png);
    position: absolute;
    bottom: -200;
    right: 0;

}


.background_german{
max-width: 1440px;
text-align: center;
padding: 400px;
background-image: url(../img/german_page/main.png);
background-repeat: no-repeat;
background-size: cover;

}


.img-opacity{
    display: block;
}

h1{
    font-size: 25px;
    font-family: 'Forum', cursive;
    color: #012964;
    font-weight: bold;
}
.main--flex-german{
    position: relative;
    display: inline-block;
    margin:170px  100px;
    line-height: 58px;
}


h2{
    font-size: 35px;
    /* font-family: 'Forum', cursive; */
    color: #012964;
    font-weight: bold;
    /* text-transform: uppercase; */
}

h3{
    font-size: 25px;
    /* font-family: 'Forum', cursive; */
    color: #012964;
    font-weight: bold;
    /* text-transform: uppercase; */
}

.text-german{ 
    justify-content: start;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: rgb(90, 90, 91);
    max-width: 287px;
    text-align: left;
   
} 

.line_german_black{
    height: 3px;
    width: 100%;
    background-color: rgba(28, 24, 1, 0.65);
}

.line_german_red{
    height: 3px;
    width: 100%;
    background-color: rgba(227, 4, 4, 0.65);
}
.line_german_yellou{
    height: 3px;
    width: 100%;
    background-color: rgba(246, 210, 6, 0.65);
}




       /* section slider */

    .title-reviews{
        opacity: .8;
        font-size: 24px;
        text-align: center;
        
    }

    .section_slider{    
        position: relative;
    }

    .title-slider-german{
        text-align: center;
        margin-top: 130px;
        margin-bottom: 50px;
    }
   
    


          













